<ul class="dark menu-bar">
  <li>{{#link-to 'application'}}Ember Card UI: A component based UI architecture for ambitious applications.{{/link-to}}</li>
  <li>{{#link-to 'style-guide'}}Example Style Guide{{/link-to}}</li>
  <li>{{#link-to 'component-index'}}Component Index{{/link-to}}</li>
</ul>

{{outlet}}
