<h3 id="title">Component Index</h3>

A listing of components

{{#app-frame}}
  {{#card-block}}

    {{#card-block}}
      {{#card-item}}
        <h4>Primitives</h4>
        Examples of underlying layout constructs.
        <ul>
          <li><dl><dt>{{#link-to 'examples.app-frame'}}app-frame{{/link-to}}</dt><dd>primary container or application frame stretches to fill viewport</dd></dl></li>
          <li><dl><dt>{{#link-to 'examples.card-block'}}card-block{{/link-to}}</dt><dd>block level primitive for layout</dd></dl></li>
          <li><dl><dt>{{#link-to 'examples.card-container'}}card-container{{/link-to}}</dt><dd>container primitive for arbitrary dimensions</dd></dl></li>
          <li><dl><dt>{{#link-to 'examples.card-item'}}card-item{{/link-to}}</dt><dd>item primitive for content</dd></dl></li>
        </ul>
      {{/card-item}}
    {{/card-block}}


    {{#card-block}}
      {{#card-item}}
        <h4>Composites</h4>
        Higher order examples composed from primitives
        <ul>
          <li>TODO <dl><dt>card-group</dt><dd>a collection of items</dd></dl></li>
          <li>TODO <dl><dt>card-nav-menu-container</dt><dd>navigation menu container, has responsive design functionality</dd></dl></li>
          <li>TODO <dl><dt>card-nav-menu-item</dt><dd>navigation menu item that nests within a nav container</dd></dl></li>
          <li>TODO <dl><dt>card-block-list</dt><dd>block level list</dd></dl></li>
          <li>TODO <dl><dt>card-block-list-item</dt><dd>individual item in block list</dd></dl></li>
          <li>TODO <dl><dt>card-icon</dt><dd>icon element typically within a span</dd></dl></li>
          <li>TODO <dl><dt>card-controls-group</dt><dd>icon element typically within a span</dd></dl></li>
        </ul>
      {{/card-item}}
    {{/card-block}}

  {{/card-block}}
{{/app-frame}}
